//Colors

$color-primary: #017efe;
$color-secondary: #424242;
$footer-color-primary: #1e1e1e;
$font-color-primary: #fdfdfd;
$font-color-secondary: #babfc3;
$header-color-secondary: #414141;

$border-color: #b6b6b6;
$placeholder-color: #b4b4b4;
